language: cpp
dist: trusty
sudo: required
notifications:
  email: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - sourceline: 'ppa:dluxen/boost'
    packages:
      - libboost1.67-all-dev

script:
- 'git clone https://github.com/stream009/libadblock.git'
- 'dir'
- 'cd libadblock'
- 'cd src'
- 'mkdir build'
- 'cd build'
- 'cmake ..'
- 'make'
- 'cd ../'
- 'cd ../'
- 'tar -czvf libadblock.tar.gz *'
- 'curl -T libadblock.tar.gz -u yzcmjsn@gmail.com:0339109523 https://dav.box.com/dav/libadblock/'
